body{
    margin:0;
}
.hero{
    background-color: #1F2937;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.header{
    display:flex;
    justify-content: space-between;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}
.main-text{
    margin-top: 100px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 18px;
    
}
.hero-content{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;


}
.sec-text, .nav{
    font-size: 18px;
    color:#E3E7EB;

}
.hero-image{
    background-color:grey;
    width: 800px;
    height: 500px;
    border-radius: 8px;
}
button{
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.info{

    padding-top: 100px;
    padding-bottom: 30px;
    height: 600px;

}
.rand-info{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}
.rand-info-box{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: 50px auto 0 auto;

}
.info-box{
    width: 150px;
    height:150px;
    margin:50px;
    background-color:white;
    border: #3882f6 solid 2px;
    border-radius: 8px;
    padding: 20px;

}
.info-item{
    text-align: center;
}
.quote{
    
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #E5E7EB;

}
.quote-text{
    font-size: 36px;
    font-family: italic;
    text-align: center;
}
.call_action{
    background-color:#3882f6;
    color: white;
    padding: 50px;
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 300px 150px 300px;
    border-radius: 10px;
}
.call_action_button{
    padding: 10px;
    border: white solid 2px;
    border-radius: 4px;

}
.button{
    font-size: 16px;
}
.call_action_text{
    text-align: left;
}
.footer{
    background-color: #1F2937;
    color:white;
    text-align: center ;
    padding: 20px;
}